.debug,
.debug * {
    border: 1px solid black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkGray: #1a1a1a;
}

h2,
h5 {
    margin-top: 8px;
}

a:link,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}

ul a:first-child {
    margin-right: 16px;
}

.logo {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
}

nav {
    margin-top: 20px;
}

.jumbotron {
    width: 100%;
    height: 800px;
    background-image: url(../img/jumbotron.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin: 50px 0;
}

.shoes-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.shoes-item {
    position: relative;
    margin: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.shoes-item:hover img {
    opacity: 0;
}

.shoes-item:hover .shoes-info {
    opacity: 1;
}

.shoes-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    transition: 200ms ease-in-out;
}

.shoes-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    color: white;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--darkGray);
}

footer {
    font-size: 12px;
    font-weight: 200;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGray);
}

p.zalando {
    margin-top: 10px;
}